@import '../abstracts/variables';
@import '../abstracts/functions';
@import '../abstracts/mixins';
@import '../abstracts/animations';

$review-card-offset: 0.5em;

.item-card {
    position: relative;
    @include flex(column, center);
    @include transition(250ms);
    background-color: rgba(white, 0.1);
    min-width: $card-width;
    padding: 1em 2em;
    margin: 1em;
    text-align: center;
    box-shadow: 0 10px 25px rgba(black, 0.5);
    border-radius: 1em;
    border: 1px solid rgba(white, 0.2);
    border-bottom: 1px solid rgba(white, 0);
    border-right: 1px solid rgba(white, 0);
    backdrop-filter: blur(2px);
    overflow: hidden;

    &::before {
        @include transition(0.3s);
        position: absolute;
        content: "";
        top: 0;
        left: $card-width * 2;
        width: 50%;
        height: 100%;
        background-color: rgba(white, 0.2);
        transform: skew(45deg);
    }

    &:hover {
        transform: translateY(-5%);
        cursor: pointer;
    }

    & *:hover {
        cursor: pointer;
    }

    &:hover::before {
        left: -$card-width * 2;
    }
}

.review-card {
    position: relative;
    min-height: 275px;
    min-width: 200px;
    width: 30vw;
    height: 30vw;
    border-radius: 5px;
    background-size: cover;
    background-repeat: no-repeat;
    font-size: get-font-size('fs-ms');
    overflow: hidden;
    border: 1px solid rgba(white, 0.5);
    border-bottom: 1px solid rgba(white, 0);
    border-right: 1px solid rgba(white, 0);

    &::after, &::before {
        @include transition(500ms);
        content: "";
        position: absolute;
        z-index: 2;
        border: 2.5px solid rgba(orange, 0);
        width: 0;
        height: 0;
    }

    &::before {
        bottom: $review-card-offset;
        left: $review-card-offset;
        border-top: none;
        border-right: none;
    }

    &::after {
        top: $review-card-offset;
        right: $review-card-offset;
        border-bottom: none;
        border-left: none;
    }
}