@use '../abstracts/' as a;
@use '../components/' as c;

.about {
    @include a.flex-center(column);
    justify-content: flex-start;
    background: a.$dark-blue;
    color: a.$white;
    overflow: hidden;
    padding: 2em;
    min-height: a.$about-height;
    
    &__h3 {
        @extend .h3;
        margin-top: 2em;
    }

    &__illustration-box {
        position: relative;
        @include a.flex-center(column);
        margin: 0 auto 1em auto;

        &__img {
            width: 50vw;
            min-width: 300px;
            height: auto;
        }

        &__note {
            color: a.$red;
            font-size: 2rem;
            height: auto;
            animation: wave-rise 4s calc(var(--i)*0.5s) ease-in infinite ;
        }

        #note1 {
            position: absolute;
            right: 20%;
            top: 5%;
        }

        #note2 {
            position: absolute;
            right: 0;
            top: 20%;
        }
    }

    &__p {
        font-style: italic;
    }
}
