@import '../abstracts/variables';
@import '../abstracts/functions';
@import '../components/buttons';
@import '../components/headings';
@import '../abstracts/mixins';
@import '../abstracts/animations';

.hero {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.25), $dark-blue), url('/assets/guitar-bg.jpg');;
    min-height: $hero-height;
    text-align: center;
    padding-top: $hero-height / 6;

    &__container {
        $hero-font-size: get-font-size('large');
        color: $white;

        &__h1 {
            @extend .h1;
            background-image: linear-gradient(to right, orange, $red, $dark-red);
            background-clip: text;
            -webkit-background-clip: text;
            color: transparent;
        }
    
        &__text {
            font-weight: bold;
            height: $hero-font-size;
            font-size: $hero-font-size;
            @include flex(row);
            justify-content: center;
            overflow: hidden;

            & p {
                float: left;
                display: inline;
            }
    
            &__list {
                list-style: none;
                text-align: left;
                color: $red;
                margin: 0 1em;
                animation: switch-hero 10s linear infinite;

                &__item{
                    line-height: $hero-font-size;
                }
            }
        }
    
        &__h3 {
            @extend .h3;
            margin: 1em;
        }
    
        &__signup-btn {
            @include black-btn(8em, $font-size: get-font-size('big'));
            margin-top: 2em;
        }
    }
}