@import '../abstracts/variables';
@import '../abstracts/functions';
@import '../components/buttons';
@import '../components/headings';
@import '../abstracts/mixins';

.hero {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.25), $dark-blue), url('/assets/guitar-bg.jpg');;
    min-height: $hero-height;
    text-align: center;
    padding-top: $hero-height / 6;

    &__h1 {
        @extend .h1;
        color: $white;
    }

    &__h2 {
        @extend .h2;
        color: $white;
    }

    &__signup-btn {
        @include black-btn(8em, $font-size: get-font-size('big'));
        margin-top: 2em;
    }
}