@use 'sass:math';
@use '../abstracts/' as a;
@use '../base/' as b;
@use '../components/' as c;

$hero-font-size: b.get-font-size('fs-xl');

.hero {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.25), a.$dark-blue), url('/assets/guitar-bg.jpg');
    min-height: a.$hero-height;
    text-align: center;
    padding-top: math.div(a.$hero-height, 6);

    &__container {
        color: a.$white;

        &__h1 {
            @extend .h1;
            background-image: linear-gradient(to right, orange, a.$red, a.$dark-red);
            background-clip: text;
            -webkit-background-clip: text;
            color: transparent;
        }
    
        &__text {
            font-weight: bold;
            height: $hero-font-size;
            font-size: $hero-font-size;
            line-height: $hero-font-size;
            @include a.flex(row, center);
            overflow: hidden;

            & p {
                float: left;
                display: inline;
            }
    
            &__list {
                list-style: none;
                text-align: left;
                color: a.$red;
                margin: 0 1em;
                animation: switch-hero 10s linear infinite;

                &__item{
                    line-height: $hero-font-size;
                }
            }
        }
    
        &__h3 {
            @extend .h3;
            margin: 1em;
        }
    
        &__signup-btn {
            @include c.black-btn(8em, $font-size: b.get-font-size('fs-l'));
            margin-top: 2em;
        }
    }
}