@import '../abstracts/variables';
@import '../abstracts/functions';
@import '../components/headings';
@import '../abstracts/mixins';
@import '../abstracts/animations';

.nav {
    @include transition(500ms, cubic-bezier(0.37, 0.54, 0.05, 1));
    position: fixed;
    top: -100%;
    z-index: 4;
    background-color: rgb(42, 42, 42);
    min-width: $page-min-width;
    height: 100vh;
    width: 100vw;
    padding: 1.5em;
    padding-top: $header-height;
    font-size: get-font-size('fs-xl');
    font-weight: bold;

    &__link-list {
        list-style: none;
        
        &__item {
            text-align: center;
            transition: all 250ms ease-in;
            transition-delay: calc(var(--i)*0.1s);
            position: relative;
            padding: 0.5em 0;
            opacity: 0;

            a {
                position: relative;
                @include transition(250ms);
                color: $white;
                text-decoration: none;
            }

            a::after {
                @include transition(250ms);
                content: "";
                background-color: $red;
                position: absolute;
                left: 50%;
                right: 50%;
                bottom: 0;
                width: 0;
                height: 3px;
                opacity: 0;
                z-index: -1;
            }

            a:hover {
                color: $red;
            }

            a:hover::after {
                width: auto;
                left: 0;
                right: 0;
                opacity: 1;
            }
        }
    }

    &__social-medias {
        @include flex(row, center);
        margin: 2em 0;

        a {
            text-decoration: none;
            
            img {
                min-width: 50px;
                max-width: 75px;
                width: 10vw;
                height: auto;
                padding: 0 0.25em;
            }
        }
    }
}