@import '../abstracts/variables';
@import '../abstracts/functions';
@import '../components/buttons';
@import '../components/headings';
@import '../abstracts/mixins';
@import '../abstracts/animations';

$review-font-size: get-font-size('fs-xl');
$review-content-lines: 7;
$img-size: 75px;

.reviews {
    @include flex(column, center);
    background-color: $red;
    justify-content: center;
    position: relative;
    font-size: $review-font-size;
    color: $white;

    &__container {
        margin: 100px 0;

        &__wrap {
            position: relative;
            margin: 2em 0;
            perspective: 750px;

            &__card {
                @include transition(600ms);
                @extend .review-card;
                transform-style: preserve-3d;
                transform: rotateX(0deg), rotateY(0deg);
                transform: perspective(100rem);
                box-shadow: 0px 10px 10px rgba(black, 0.3);
    
                &__content {
                    @include transition(500ms);
                    position: absolute;
                    bottom: 0;
                    background: rgba(black, 0.5);
                    padding: 1em;
    
                    & p {
                        margin-bottom: 0.5em;
                        font-style: italic;
                    }
    
                    & span {
                        font-weight: bold;
                    }
                }
            }

            &__tilt-point {
                width: 33.3%;
                height: 33.3%;
                position: absolute;
                z-index: 1;

                &:nth-child(1) { left: 0; top: 0; }
                &:nth-child(2) { left: 33.3%; top: 0; }
                &:nth-child(3) { left: 66.6%; top: 0; }
                &:nth-child(4) { left: 0; top: 33.3%; }
                &:nth-child(5) { left: 33.3%; top: 33.3%; }
                &:nth-child(6) { left: 66.6%; top: 33.3%; }
                &:nth-child(7) { left: 0; top: 66.6%; }
                &:nth-child(8) { left: 33.3%; top: 66.6%; }
                &:nth-child(9) { left: 66.6%; top: 66.6%; }
            }

            &__tilt-point:nth-child(1):hover ~ &__card { transform: rotateX(-20deg) rotateY(20deg); }
            &__tilt-point:nth-child(2):hover ~ &__card { transform: rotateX(-20deg) rotateY(0deg); }
            &__tilt-point:nth-child(3):hover ~ &__card { transform: rotateX(-20deg) rotateY(-20deg); }
            &__tilt-point:nth-child(4):hover ~ &__card { transform: rotateX(0deg) rotateY(20deg); }
            &__tilt-point:nth-child(5):hover ~ &__card { transform: rotateX(0deg) rotateY(0deg); }
            &__tilt-point:nth-child(6):hover ~ &__card { transform: rotateX(0deg) rotateY(-20deg); }
            &__tilt-point:nth-child(7):hover ~ &__card { transform: rotateX(20deg) rotateY(20deg); }
            &__tilt-point:nth-child(8):hover ~ &__card { transform: rotateX(20deg) rotateY(0deg); }
            &__tilt-point:nth-child(9):hover ~ &__card { transform: rotateX(20deg) rotateY(-20deg); }

            &__tilt-point:hover ~ &__card::after {
                border-color: rgba($red, 1);
                width: calc(100% - #{$review-card-offset} * 2 - 2.5px);
                height: calc(100% - #{$review-card-offset} * 2 - 2.5px);
            }

            &__tilt-point:hover ~ &__card::before {
                border-color: rgba($red, 1);
                width: calc(100% - #{$review-card-offset} * 2 - 2.5px - 2.5px);
                height: calc(100% - #{$review-card-offset} * 2 - 2.5px);
            }
        }

        #review-card1 {
            background-image: linear-gradient(to bottom, rgba(black, 0), rgba(black, 0.75)), 
                                url('/assets/einziger.jpg');
            
        }

        #review-card2 {
            background-image: linear-gradient(to bottom, rgba(black, 0), rgba(black, 0.75)), 
                                url('/assets/slash.jpg');
        }

        #review-card3 {
            background-image: linear-gradient(to bottom, rgba(black, 0), rgba(black, 0.75)), 
                                url('/assets/kirk.png');
        }
    }

    &__liquid-drop {
        border-radius: 54% 46% 42% 58% / 60% 58% 42% 40%;
        border: 1px solid rgba(#ffffff, 0.4);
        border-bottom: 1px solid rgba(#ffffff, 0.2);
        border-right: 1px solid rgba(#ffffff, 0.2);
        background-image: linear-gradient(to top right, orange, $red, $dark-red);
        background-size: 300%;
        animation: blob 5s linear calc(var(--i) * 1s) infinite,
                    wave-rise 4s ease-in calc(var(--i) * 1s) infinite,
                    gradient-transition 2s linear infinite alternate;
    }

    #liquid-drop1 {
        min-width: 25px;
        min-height: 25px;
        width: 5vw;
        height: 5vw;
        max-width: 100px;
        max-height: 100px;
        position: absolute;
        top: -10%;
        left: 30%;
    }

    #liquid-drop2 {
        min-width: 50px;
        min-height: 50px;
        width: 15vw;
        height: 15vw;
        max-width: 200px;
        max-height: 200px;
        position: absolute;
        top: -5%;
        right: 5%;
    }

    #liquid-drop3 {
        min-width: 75px;
        min-height: 75px;
        width: 10vw;
        height: 10vw;
        max-width: 150px;
        max-height: 150px;
        position: absolute;
        top: 0%;
        left: 10%;
    }
}