@import './sass/abstracts/variables';
@import './sass/abstracts/mixins';
@import './sass/sections/carousel';
@import './sass/sections/header-mobile';
@import './sass/sections/hero';
@import './sass/sections/about';
@import './sass/sections/reviews';
@import './sass/sections/footer';
@import url('https://fonts.googleapis.com/css2?family=Heebo&display=swap');
@import './sass/sections/nav';


* {
    font-family: $font-primary;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-width: $page-min-width;
}

header {
    @include transition(500ms);
    position: fixed;
    top: 0;
    width: 100%;
    background-color: black;
    z-index: 5;
}