@import url("https://fonts.googleapis.com/css2?family=Heebo&display=swap");
.hamburger-btn, .header--mobile .header__nav-btn {
  position: relative;
  border: none;
  background: none;
  width: 2em;
  height: 2em;
}

.hamburger-btn span, .header--mobile .header__nav-btn span {
  -webkit-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
  position: absolute;
  display: block;
  background-color: #F2545B;
  width: 100%;
  height: 3.25px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.hamburger-btn span:nth-child(1), .header--mobile .header__nav-btn span:nth-child(1) {
  -webkit-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
  -webkit-transform: translate(-50%, -50%) translateY(-10px);
          transform: translate(-50%, -50%) translateY(-10px);
}

.hamburger-btn span:nth-child(2), .header--mobile .header__nav-btn span:nth-child(2) {
  -webkit-transition-delay: 200ms;
          transition-delay: 200ms;
}

.hamburger-btn span:nth-child(3), .header--mobile .header__nav-btn span:nth-child(3) {
  -webkit-transition-delay: 200ms;
          transition-delay: 200ms;
}

.hamburger-btn span:nth-child(4), .header--mobile .header__nav-btn span:nth-child(4) {
  -webkit-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
  -webkit-transform: translate(-50%, -50%) translateY(10px);
          transform: translate(-50%, -50%) translateY(10px);
}

@-webkit-keyframes wave-rise {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
}

@keyframes wave-rise {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
}

@-webkit-keyframes blob {
  20% {
    border-radius: 45% 55% 62% 38% / 53% 51% 49% 47%;
  }
  40% {
    border-radius: 45% 55% 49% 51% / 36% 51% 49% 64%;
  }
  60% {
    border-radius: 60% 40% 57% 43% / 47% 62% 38% 53%;
  }
  80% {
    border-radius: 60% 40% 32% 68% / 38% 36% 64% 62%;
  }
}

@keyframes blob {
  20% {
    border-radius: 45% 55% 62% 38% / 53% 51% 49% 47%;
  }
  40% {
    border-radius: 45% 55% 49% 51% / 36% 51% 49% 64%;
  }
  60% {
    border-radius: 60% 40% 57% 43% / 47% 62% 38% 53%;
  }
  80% {
    border-radius: 60% 40% 32% 68% / 38% 36% 64% 62%;
  }
}

@-webkit-keyframes gradient-transition {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

@keyframes gradient-transition {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

@-webkit-keyframes switch-hero {
  12.5% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  25% {
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
  }
  37.5% {
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
  }
  50% {
    -webkit-transform: translate3d(0, -200%, 0);
            transform: translate3d(0, -200%, 0);
  }
  62.5% {
    -webkit-transform: translate3d(0, -200%, 0);
            transform: translate3d(0, -200%, 0);
  }
  75% {
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
  }
  87.5% {
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@keyframes switch-hero {
  12.5% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  25% {
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
  }
  37.5% {
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
  }
  50% {
    -webkit-transform: translate3d(0, -200%, 0);
            transform: translate3d(0, -200%, 0);
  }
  62.5% {
    -webkit-transform: translate3d(0, -200%, 0);
            transform: translate3d(0, -200%, 0);
  }
  75% {
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
  }
  87.5% {
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes switch-review-content {
  30% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  35% {
    -webkit-transform: translate3d(0, -33%, 0);
            transform: translate3d(0, -33%, 0);
  }
  65% {
    -webkit-transform: translate3d(0, -33%, 0);
            transform: translate3d(0, -33%, 0);
  }
  70% {
    -webkit-transform: translate3d(0, -62%, 0);
            transform: translate3d(0, -62%, 0);
  }
  100% {
    -webkit-transform: translate3d(0, -62%, 0);
            transform: translate3d(0, -62%, 0);
  }
}

@keyframes switch-review-content {
  30% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  35% {
    -webkit-transform: translate3d(0, -33%, 0);
            transform: translate3d(0, -33%, 0);
  }
  65% {
    -webkit-transform: translate3d(0, -33%, 0);
            transform: translate3d(0, -33%, 0);
  }
  70% {
    -webkit-transform: translate3d(0, -62%, 0);
            transform: translate3d(0, -62%, 0);
  }
  100% {
    -webkit-transform: translate3d(0, -62%, 0);
            transform: translate3d(0, -62%, 0);
  }
}

@-webkit-keyframes switch-author {
  30% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  35% {
    -webkit-transform: translate3d(0, -33%, 0);
            transform: translate3d(0, -33%, 0);
  }
  65% {
    -webkit-transform: translate3d(0, -33%, 0);
            transform: translate3d(0, -33%, 0);
  }
  70% {
    -webkit-transform: translate3d(0, -67%, 0);
            transform: translate3d(0, -67%, 0);
  }
  100% {
    -webkit-transform: translate3d(0, -67%, 0);
            transform: translate3d(0, -67%, 0);
  }
}

@keyframes switch-author {
  30% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  35% {
    -webkit-transform: translate3d(0, -33%, 0);
            transform: translate3d(0, -33%, 0);
  }
  65% {
    -webkit-transform: translate3d(0, -33%, 0);
            transform: translate3d(0, -33%, 0);
  }
  70% {
    -webkit-transform: translate3d(0, -67%, 0);
            transform: translate3d(0, -67%, 0);
  }
  100% {
    -webkit-transform: translate3d(0, -67%, 0);
            transform: translate3d(0, -67%, 0);
  }
}

.item-card, .carousel__card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 250ms ease-out;
  transition: all 250ms ease-out;
  background-color: rgba(255, 255, 255, 0.1);
  min-width: 175px;
  padding: 1em 2em;
  margin: 1em;
  text-align: center;
  -webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
          box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
  border-radius: 1em;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0);
  border-right: 1px solid rgba(255, 255, 255, 0);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  overflow: hidden;
}

.item-card::before, .carousel__card::before {
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  position: absolute;
  content: "";
  top: 0;
  left: 350px;
  width: 50%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  -webkit-transform: skew(45deg);
          transform: skew(45deg);
}

.item-card:hover, .carousel__card:hover {
  -webkit-transform: translateY(-5%);
          transform: translateY(-5%);
  cursor: pointer;
}

.item-card *:hover, .carousel__card *:hover {
  cursor: pointer;
}

.item-card:hover::before, .carousel__card:hover::before {
  left: -350px;
}

.review-card, .reviews__container__wrap__card {
  position: relative;
  min-height: 275px;
  min-width: 200px;
  width: 30vw;
  height: 30vw;
  border-radius: 5px;
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 0.875rem;
  overflow: hidden;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0);
  border-right: 1px solid rgba(255, 255, 255, 0);
}

.review-card::after, .reviews__container__wrap__card::after, .review-card::before, .reviews__container__wrap__card::before {
  -webkit-transition: all 500ms ease-out;
  transition: all 500ms ease-out;
  content: "";
  position: absolute;
  z-index: 2;
  border: 2.5px solid rgba(242, 84, 91, 0);
  width: 0;
  height: 0;
}

.review-card::before, .reviews__container__wrap__card::before {
  bottom: 0.5em;
  left: 0.5em;
  border-top: none;
  border-right: none;
}

.review-card::after, .reviews__container__wrap__card::after {
  top: 0.5em;
  right: 0.5em;
  border-bottom: none;
  border-left: none;
}

.carousel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  position: relative;
  height: 800px;
  background: #1c2f44;
  color: white;
  overflow: hidden;
}

.carousel__card-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: -webkit-gradient(linear, left top, right bottom, from(orange), color-stop(#F2545B), to(#A93F55));
  background: linear-gradient(to bottom right, orange, #F2545B, #A93F55);
  border: 2px solid rgba(255, 255, 255, 0.6);
  border-bottom: 2px solid rgba(255, 255, 255, 0.3);
  border-right: 2px solid rgba(255, 255, 255, 0.3);
  border-radius: 10%;
  overflow: hidden;
  margin: 1.5em 0;
  padding: 2em 0;
  width: 90vw;
  min-width: 300px;
}

.carousel__card-container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.carousel__card__img {
  width: 100px;
  height: 100px;
  border-radius: 10px;
  margin-bottom: 1em;
}

.carousel__card__price {
  font-size: 0.875rem;
}

.carousel__card__review-wrapper .fas {
  color: #ffd000;
}

.carousel__btn-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1em 0;
}

.carousel__btn-wrapper__btn {
  font-size: 2rem;
  width: 2em;
  height: 2em;
  background: none;
  border: none;
  color: #F3F7F0;
  border: none;
  border-radius: 10px;
  -webkit-transition: all 150ms ease-out;
  transition: all 150ms ease-out;
  margin: 0 1.5em;
}

.carousel__btn-wrapper__btn:hover {
  background-color: #2f4e72;
  -webkit-transform: translateY(-10%);
          transform: translateY(-10%);
  -webkit-box-shadow: 0px 10px 15px black;
          box-shadow: 0px 10px 15px black;
  cursor: pointer;
}

.carousel__btn-wrapper__btn:active {
  background-color: #3988bd;
}

.carousel__wave-container {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.carousel__wave-container #wave1 {
  height: 220px;
}

.carousel__wave-container #wave2 {
  opacity: 0.5;
  height: 200px;
}

.carousel__wave-container #wave3 {
  opacity: 0.25;
  left: 100px;
  height: 180px;
}

.carousel__wave-container svg {
  -webkit-animation: wave-rise 4s ease-in calc(var(--i) * 0.5s) infinite;
          animation: wave-rise 4s ease-in calc(var(--i) * 0.5s) infinite;
  position: absolute;
  bottom: 0;
  display: block;
  width: 100vw;
  min-width: 300px;
}

.hamburger-btn, .header--mobile .header__nav-btn {
  position: relative;
  border: none;
  background: none;
  width: 2em;
  height: 2em;
}

.hamburger-btn span, .header--mobile .header__nav-btn span {
  -webkit-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
  position: absolute;
  display: block;
  background-color: #F2545B;
  width: 100%;
  height: 3.25px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.hamburger-btn span:nth-child(1), .header--mobile .header__nav-btn span:nth-child(1) {
  -webkit-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
  -webkit-transform: translate(-50%, -50%) translateY(-10px);
          transform: translate(-50%, -50%) translateY(-10px);
}

.hamburger-btn span:nth-child(2), .header--mobile .header__nav-btn span:nth-child(2) {
  -webkit-transition-delay: 200ms;
          transition-delay: 200ms;
}

.hamburger-btn span:nth-child(3), .header--mobile .header__nav-btn span:nth-child(3) {
  -webkit-transition-delay: 200ms;
          transition-delay: 200ms;
}

.hamburger-btn span:nth-child(4), .header--mobile .header__nav-btn span:nth-child(4) {
  -webkit-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
  -webkit-transform: translate(-50%, -50%) translateY(10px);
          transform: translate(-50%, -50%) translateY(10px);
}

.header--mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.5em 1em;
  min-height: 4em;
  color: #F2545B;
  -webkit-transition: all 150ms ease-out;
  transition: all 150ms ease-out;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-delay: 250ms;
          transition-delay: 250ms;
}

.header--mobile .header__logo {
  font-weight: bold;
  font-size: 1rem;
  -webkit-transition: all 150ms ease-out;
  transition: all 150ms ease-out;
}

.header--mobile .header__logo:hover {
  color: #ff8d93;
}

.header--mobile .header__btn-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header--mobile .header__login-btn {
  border: none;
  border-radius: 10px;
  width: 6em;
  height: 2em;
  margin: 0 1em;
  font-weight: bold;
  font-size: 0.875rem;
  background-color: #F2545B;
  color: #F3F7F0;
  -webkit-transition: all 150ms ease-out;
  transition: all 150ms ease-out;
}

.header--mobile .header__login-btn:hover {
  background-color: #ff8d93;
  -webkit-transform: scale(105%);
          transform: scale(105%);
  cursor: pointer;
}

.hamburger-btn, .header--mobile .header__nav-btn {
  position: relative;
  border: none;
  background: none;
  width: 2em;
  height: 2em;
}

.hamburger-btn span, .header--mobile .header__nav-btn span {
  -webkit-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
  position: absolute;
  display: block;
  background-color: #F2545B;
  width: 100%;
  height: 3.25px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.hamburger-btn span:nth-child(1), .header--mobile .header__nav-btn span:nth-child(1) {
  -webkit-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
  -webkit-transform: translate(-50%, -50%) translateY(-10px);
          transform: translate(-50%, -50%) translateY(-10px);
}

.hamburger-btn span:nth-child(2), .header--mobile .header__nav-btn span:nth-child(2) {
  -webkit-transition-delay: 200ms;
          transition-delay: 200ms;
}

.hamburger-btn span:nth-child(3), .header--mobile .header__nav-btn span:nth-child(3) {
  -webkit-transition-delay: 200ms;
          transition-delay: 200ms;
}

.hamburger-btn span:nth-child(4), .header--mobile .header__nav-btn span:nth-child(4) {
  -webkit-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
  -webkit-transform: translate(-50%, -50%) translateY(10px);
          transform: translate(-50%, -50%) translateY(10px);
}

.h1, .hero__container__h1 {
  font-size: 2rem;
  font-weight: bold;
  margin: 1em;
}

.h2, .carousel__h2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0.5em;
}

.h3, .hero__container__h3, .about__h3 {
  font-size: 1.25rem;
  font-weight: bold;
}

.h4 {
  font-size: 1.125rem;
  font-weight: bold;
}

@keyframes wave-rise {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
}

@keyframes blob {
  20% {
    border-radius: 45% 55% 62% 38% / 53% 51% 49% 47%;
  }
  40% {
    border-radius: 45% 55% 49% 51% / 36% 51% 49% 64%;
  }
  60% {
    border-radius: 60% 40% 57% 43% / 47% 62% 38% 53%;
  }
  80% {
    border-radius: 60% 40% 32% 68% / 38% 36% 64% 62%;
  }
}

@keyframes gradient-transition {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

@keyframes switch-hero {
  12.5% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  25% {
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
  }
  37.5% {
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
  }
  50% {
    -webkit-transform: translate3d(0, -200%, 0);
            transform: translate3d(0, -200%, 0);
  }
  62.5% {
    -webkit-transform: translate3d(0, -200%, 0);
            transform: translate3d(0, -200%, 0);
  }
  75% {
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
  }
  87.5% {
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@keyframes switch-review-content {
  30% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  35% {
    -webkit-transform: translate3d(0, -33%, 0);
            transform: translate3d(0, -33%, 0);
  }
  65% {
    -webkit-transform: translate3d(0, -33%, 0);
            transform: translate3d(0, -33%, 0);
  }
  70% {
    -webkit-transform: translate3d(0, -62%, 0);
            transform: translate3d(0, -62%, 0);
  }
  100% {
    -webkit-transform: translate3d(0, -62%, 0);
            transform: translate3d(0, -62%, 0);
  }
}

@keyframes switch-author {
  30% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  35% {
    -webkit-transform: translate3d(0, -33%, 0);
            transform: translate3d(0, -33%, 0);
  }
  65% {
    -webkit-transform: translate3d(0, -33%, 0);
            transform: translate3d(0, -33%, 0);
  }
  70% {
    -webkit-transform: translate3d(0, -67%, 0);
            transform: translate3d(0, -67%, 0);
  }
  100% {
    -webkit-transform: translate3d(0, -67%, 0);
            transform: translate3d(0, -67%, 0);
  }
}

.hero {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.75)), color-stop(rgba(0, 0, 0, 0.5)), color-stop(rgba(0, 0, 0, 0.25)), to(#1c2f44)), url("/assets/guitar-bg.jpg");
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.25), #1c2f44), url("/assets/guitar-bg.jpg");
  min-height: 600px;
  text-align: center;
  padding-top: 100px;
}

.hero__container {
  color: #F3F7F0;
}

.hero__container__h1 {
  background-image: -webkit-gradient(linear, left top, right top, from(orange), color-stop(#F2545B), to(#A93F55));
  background-image: linear-gradient(to right, orange, #F2545B, #A93F55);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.hero__container__text {
  font-weight: bold;
  height: 1.5rem;
  font-size: 1.5rem;
  line-height: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}

.hero__container__text p {
  float: left;
  display: inline;
}

.hero__container__text__list {
  list-style: none;
  text-align: left;
  color: #F2545B;
  margin: 0 1em;
  -webkit-animation: switch-hero 10s linear infinite;
          animation: switch-hero 10s linear infinite;
}

.hero__container__text__list__item {
  line-height: 1.5rem;
}

.hero__container__h3 {
  margin: 1em;
}

.hero__container__signup-btn {
  position: relative;
  border: none;
  border-radius: 10px;
  width: 8em;
  height: 2em;
  margin: 0 1em;
  font-weight: bold;
  font-size: 1.25rem;
  background-color: black;
  color: #F3F7F0;
  border: solid 2px #F2545B;
  -webkit-transition: all 150ms ease-out;
  transition: all 150ms ease-out;
  margin-top: 2em;
}

.hero__container__signup-btn::before {
  -webkit-transition: all 250ms ease-out;
  transition: all 250ms ease-out;
  border-radius: 10px;
  position: absolute;
  width: 0;
  top: 0;
  left: 0;
  bottom: 0;
  opacity: 0;
  content: "";
  background-color: #F2545B;
  z-index: -1;
}

.hero__container__signup-btn:hover {
  cursor: pointer;
  -webkit-transform: scale(110%);
          transform: scale(110%);
}

.hero__container__signup-btn:hover::before {
  width: 100%;
  left: 0;
  right: 0;
  opacity: 1;
  -webkit-transform: scale(105%);
          transform: scale(105%);
}

.h1, .hero__container__h1 {
  font-size: 2rem;
  font-weight: bold;
  margin: 1em;
}

.h2, .carousel__h2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0.5em;
}

.h3, .hero__container__h3, .about__h3 {
  font-size: 1.25rem;
  font-weight: bold;
}

.h4 {
  font-size: 1.125rem;
  font-weight: bold;
}

@keyframes wave-rise {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
}

@keyframes blob {
  20% {
    border-radius: 45% 55% 62% 38% / 53% 51% 49% 47%;
  }
  40% {
    border-radius: 45% 55% 49% 51% / 36% 51% 49% 64%;
  }
  60% {
    border-radius: 60% 40% 57% 43% / 47% 62% 38% 53%;
  }
  80% {
    border-radius: 60% 40% 32% 68% / 38% 36% 64% 62%;
  }
}

@keyframes gradient-transition {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

@keyframes switch-hero {
  12.5% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  25% {
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
  }
  37.5% {
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
  }
  50% {
    -webkit-transform: translate3d(0, -200%, 0);
            transform: translate3d(0, -200%, 0);
  }
  62.5% {
    -webkit-transform: translate3d(0, -200%, 0);
            transform: translate3d(0, -200%, 0);
  }
  75% {
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
  }
  87.5% {
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@keyframes switch-review-content {
  30% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  35% {
    -webkit-transform: translate3d(0, -33%, 0);
            transform: translate3d(0, -33%, 0);
  }
  65% {
    -webkit-transform: translate3d(0, -33%, 0);
            transform: translate3d(0, -33%, 0);
  }
  70% {
    -webkit-transform: translate3d(0, -62%, 0);
            transform: translate3d(0, -62%, 0);
  }
  100% {
    -webkit-transform: translate3d(0, -62%, 0);
            transform: translate3d(0, -62%, 0);
  }
}

@keyframes switch-author {
  30% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  35% {
    -webkit-transform: translate3d(0, -33%, 0);
            transform: translate3d(0, -33%, 0);
  }
  65% {
    -webkit-transform: translate3d(0, -33%, 0);
            transform: translate3d(0, -33%, 0);
  }
  70% {
    -webkit-transform: translate3d(0, -67%, 0);
            transform: translate3d(0, -67%, 0);
  }
  100% {
    -webkit-transform: translate3d(0, -67%, 0);
            transform: translate3d(0, -67%, 0);
  }
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background: #1c2f44;
  color: #F3F7F0;
  overflow: hidden;
  padding: 2em 1em;
  min-height: 700px;
}

.about__h3 {
  margin-top: 2em;
}

.about__illustration-box {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto 1em auto;
}

.about__illustration-box__img {
  width: 50vw;
  min-width: 300px;
  height: auto;
}

.about__illustration-box__note {
  color: #F2545B;
  font-size: 2rem;
  height: auto;
  -webkit-animation: wave-rise 4s calc(var(--i)*0.5s) ease-in infinite;
          animation: wave-rise 4s calc(var(--i)*0.5s) ease-in infinite;
}

.about__illustration-box #note1 {
  position: absolute;
  right: 20%;
  top: 5%;
}

.about__illustration-box #note2 {
  position: absolute;
  right: 0;
  top: 20%;
}

.about__p {
  font-style: italic;
}

.hamburger-btn, .header--mobile .header__nav-btn {
  position: relative;
  border: none;
  background: none;
  width: 2em;
  height: 2em;
}

.hamburger-btn span, .header--mobile .header__nav-btn span {
  -webkit-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
  position: absolute;
  display: block;
  background-color: #F2545B;
  width: 100%;
  height: 3.25px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.hamburger-btn span:nth-child(1), .header--mobile .header__nav-btn span:nth-child(1) {
  -webkit-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
  -webkit-transform: translate(-50%, -50%) translateY(-10px);
          transform: translate(-50%, -50%) translateY(-10px);
}

.hamburger-btn span:nth-child(2), .header--mobile .header__nav-btn span:nth-child(2) {
  -webkit-transition-delay: 200ms;
          transition-delay: 200ms;
}

.hamburger-btn span:nth-child(3), .header--mobile .header__nav-btn span:nth-child(3) {
  -webkit-transition-delay: 200ms;
          transition-delay: 200ms;
}

.hamburger-btn span:nth-child(4), .header--mobile .header__nav-btn span:nth-child(4) {
  -webkit-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
  -webkit-transform: translate(-50%, -50%) translateY(10px);
          transform: translate(-50%, -50%) translateY(10px);
}

.h1, .hero__container__h1 {
  font-size: 2rem;
  font-weight: bold;
  margin: 1em;
}

.h2, .carousel__h2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0.5em;
}

.h3, .hero__container__h3, .about__h3 {
  font-size: 1.25rem;
  font-weight: bold;
}

.h4 {
  font-size: 1.125rem;
  font-weight: bold;
}

@keyframes wave-rise {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
}

@keyframes blob {
  20% {
    border-radius: 45% 55% 62% 38% / 53% 51% 49% 47%;
  }
  40% {
    border-radius: 45% 55% 49% 51% / 36% 51% 49% 64%;
  }
  60% {
    border-radius: 60% 40% 57% 43% / 47% 62% 38% 53%;
  }
  80% {
    border-radius: 60% 40% 32% 68% / 38% 36% 64% 62%;
  }
}

@keyframes gradient-transition {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

@keyframes switch-hero {
  12.5% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  25% {
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
  }
  37.5% {
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
  }
  50% {
    -webkit-transform: translate3d(0, -200%, 0);
            transform: translate3d(0, -200%, 0);
  }
  62.5% {
    -webkit-transform: translate3d(0, -200%, 0);
            transform: translate3d(0, -200%, 0);
  }
  75% {
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
  }
  87.5% {
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@keyframes switch-review-content {
  30% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  35% {
    -webkit-transform: translate3d(0, -33%, 0);
            transform: translate3d(0, -33%, 0);
  }
  65% {
    -webkit-transform: translate3d(0, -33%, 0);
            transform: translate3d(0, -33%, 0);
  }
  70% {
    -webkit-transform: translate3d(0, -62%, 0);
            transform: translate3d(0, -62%, 0);
  }
  100% {
    -webkit-transform: translate3d(0, -62%, 0);
            transform: translate3d(0, -62%, 0);
  }
}

@keyframes switch-author {
  30% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  35% {
    -webkit-transform: translate3d(0, -33%, 0);
            transform: translate3d(0, -33%, 0);
  }
  65% {
    -webkit-transform: translate3d(0, -33%, 0);
            transform: translate3d(0, -33%, 0);
  }
  70% {
    -webkit-transform: translate3d(0, -67%, 0);
            transform: translate3d(0, -67%, 0);
  }
  100% {
    -webkit-transform: translate3d(0, -67%, 0);
            transform: translate3d(0, -67%, 0);
  }
}

.reviews {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #F2545B;
  justify-content: center;
  position: relative;
  font-size: 1.5rem;
  color: #F3F7F0;
}

.reviews__container {
  margin: 100px 0;
}

.reviews__container__wrap {
  position: relative;
  margin: 2em 0;
  -webkit-perspective: 750px;
          perspective: 750px;
}

.reviews__container__wrap__card {
  -webkit-transition: all 600ms ease-out;
  transition: all 600ms ease-out;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: rotateX(0deg), rotateY(0deg);
          transform: rotateX(0deg), rotateY(0deg);
  -webkit-transform: perspective(100rem);
          transform: perspective(100rem);
  -webkit-box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.3);
}

.reviews__container__wrap__card__content {
  -webkit-transition: all 500ms ease-out;
  transition: all 500ms ease-out;
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  padding: 1em;
}

.reviews__container__wrap__card__content p {
  margin-bottom: 0.5em;
  font-style: italic;
}

.reviews__container__wrap__card__content span {
  font-weight: bold;
}

.reviews__container__wrap__tilt-point {
  width: 33.3%;
  height: 33.3%;
  position: absolute;
  z-index: 1;
}

.reviews__container__wrap__tilt-point:nth-child(1) {
  left: 0;
  top: 0;
}

.reviews__container__wrap__tilt-point:nth-child(2) {
  left: 33.3%;
  top: 0;
}

.reviews__container__wrap__tilt-point:nth-child(3) {
  left: 66.6%;
  top: 0;
}

.reviews__container__wrap__tilt-point:nth-child(4) {
  left: 0;
  top: 33.3%;
}

.reviews__container__wrap__tilt-point:nth-child(5) {
  left: 33.3%;
  top: 33.3%;
}

.reviews__container__wrap__tilt-point:nth-child(6) {
  left: 66.6%;
  top: 33.3%;
}

.reviews__container__wrap__tilt-point:nth-child(7) {
  left: 0;
  top: 66.6%;
}

.reviews__container__wrap__tilt-point:nth-child(8) {
  left: 33.3%;
  top: 66.6%;
}

.reviews__container__wrap__tilt-point:nth-child(9) {
  left: 66.6%;
  top: 66.6%;
}

.reviews__container__wrap__tilt-point:nth-child(1):hover ~ .reviews__container__wrap__card {
  -webkit-transform: rotateX(-20deg) rotateY(20deg);
          transform: rotateX(-20deg) rotateY(20deg);
}

.reviews__container__wrap__tilt-point:nth-child(2):hover ~ .reviews__container__wrap__card {
  -webkit-transform: rotateX(-20deg) rotateY(0deg);
          transform: rotateX(-20deg) rotateY(0deg);
}

.reviews__container__wrap__tilt-point:nth-child(3):hover ~ .reviews__container__wrap__card {
  -webkit-transform: rotateX(-20deg) rotateY(-20deg);
          transform: rotateX(-20deg) rotateY(-20deg);
}

.reviews__container__wrap__tilt-point:nth-child(4):hover ~ .reviews__container__wrap__card {
  -webkit-transform: rotateX(0deg) rotateY(20deg);
          transform: rotateX(0deg) rotateY(20deg);
}

.reviews__container__wrap__tilt-point:nth-child(5):hover ~ .reviews__container__wrap__card {
  -webkit-transform: rotateX(0deg) rotateY(0deg);
          transform: rotateX(0deg) rotateY(0deg);
}

.reviews__container__wrap__tilt-point:nth-child(6):hover ~ .reviews__container__wrap__card {
  -webkit-transform: rotateX(0deg) rotateY(-20deg);
          transform: rotateX(0deg) rotateY(-20deg);
}

.reviews__container__wrap__tilt-point:nth-child(7):hover ~ .reviews__container__wrap__card {
  -webkit-transform: rotateX(20deg) rotateY(20deg);
          transform: rotateX(20deg) rotateY(20deg);
}

.reviews__container__wrap__tilt-point:nth-child(8):hover ~ .reviews__container__wrap__card {
  -webkit-transform: rotateX(20deg) rotateY(0deg);
          transform: rotateX(20deg) rotateY(0deg);
}

.reviews__container__wrap__tilt-point:nth-child(9):hover ~ .reviews__container__wrap__card {
  -webkit-transform: rotateX(20deg) rotateY(-20deg);
          transform: rotateX(20deg) rotateY(-20deg);
}

.reviews__container__wrap__tilt-point:hover ~ .reviews__container__wrap__card::after {
  border-color: #f2545b;
  width: calc(100% - 0.5em * 2 - 2.5px);
  height: calc(100% - 0.5em * 2 - 2.5px);
}

.reviews__container__wrap__tilt-point:hover ~ .reviews__container__wrap__card::before {
  border-color: #f2545b;
  width: calc(100% - 0.5em * 2 - 2.5px - 2.5px);
  height: calc(100% - 0.5em * 2 - 2.5px);
}

.reviews__container #review-card1 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.75))), url("/assets/einziger.jpg");
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75)), url("/assets/einziger.jpg");
}

.reviews__container #review-card2 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.75))), url("/assets/slash.jpg");
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75)), url("/assets/slash.jpg");
}

.reviews__container #review-card3 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.75))), url("/assets/kirk.png");
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75)), url("/assets/kirk.png");
}

.reviews__liquid-drop {
  border-radius: 54% 46% 42% 58% / 60% 58% 42% 40%;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  background-image: -webkit-gradient(linear, left bottom, right top, from(orange), color-stop(#F2545B), to(#A93F55));
  background-image: linear-gradient(to top right, orange, #F2545B, #A93F55);
  background-size: 300%;
  -webkit-animation: blob 5s linear calc(var(--i) * 1s) infinite, wave-rise 4s ease-in calc(var(--i) * 1s) infinite, gradient-transition 2s linear infinite alternate;
          animation: blob 5s linear calc(var(--i) * 1s) infinite, wave-rise 4s ease-in calc(var(--i) * 1s) infinite, gradient-transition 2s linear infinite alternate;
}

.reviews #liquid-drop1 {
  min-width: 25px;
  min-height: 25px;
  width: 5vw;
  height: 5vw;
  max-width: 100px;
  max-height: 100px;
  position: absolute;
  top: -10%;
  left: 30%;
}

.reviews #liquid-drop2 {
  min-width: 50px;
  min-height: 50px;
  width: 15vw;
  height: 15vw;
  max-width: 200px;
  max-height: 200px;
  position: absolute;
  top: -5%;
  right: 5%;
}

.reviews #liquid-drop3 {
  min-width: 75px;
  min-height: 75px;
  width: 10vw;
  height: 10vw;
  max-width: 150px;
  max-height: 150px;
  position: absolute;
  top: 0%;
  left: 10%;
}

.h1, .hero__container__h1 {
  font-size: 2rem;
  font-weight: bold;
  margin: 1em;
}

.h2, .carousel__h2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0.5em;
}

.h3, .hero__container__h3, .about__h3 {
  font-size: 1.25rem;
  font-weight: bold;
}

.h4 {
  font-size: 1.125rem;
  font-weight: bold;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: black;
  color: #F3F7F0;
  padding: 1em;
  font-size: 0.875rem;
}

.footer__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[1];
      grid-template-rows: repeat(1, 1fr);
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

.footer__grid__links {
  padding: 0.5em;
}

.footer__grid__links__list {
  list-style: none;
}

.footer__grid__links__list__item a {
  color: #F3F7F0;
  text-decoration: none;
}

.footer__grid__links__list__item a:hover {
  text-decoration: underline;
}

.footer__social-medias {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1em 0.5em;
}

.footer__social-medias a {
  text-decoration: none;
}

.footer__social-medias a img {
  min-width: 50px;
  width: 10vw;
  max-width: 75px;
  height: auto;
  padding: 0.5em;
}

.footer__notice {
  text-align: center;
  font-size: 0.75rem;
  text-decoration: underline;
}

.h1, .hero__container__h1 {
  font-size: 2rem;
  font-weight: bold;
  margin: 1em;
}

.h2, .carousel__h2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0.5em;
}

.h3, .hero__container__h3, .about__h3 {
  font-size: 1.25rem;
  font-weight: bold;
}

.h4 {
  font-size: 1.125rem;
  font-weight: bold;
}

@keyframes wave-rise {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
}

@keyframes blob {
  20% {
    border-radius: 45% 55% 62% 38% / 53% 51% 49% 47%;
  }
  40% {
    border-radius: 45% 55% 49% 51% / 36% 51% 49% 64%;
  }
  60% {
    border-radius: 60% 40% 57% 43% / 47% 62% 38% 53%;
  }
  80% {
    border-radius: 60% 40% 32% 68% / 38% 36% 64% 62%;
  }
}

@keyframes gradient-transition {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

@keyframes switch-hero {
  12.5% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  25% {
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
  }
  37.5% {
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
  }
  50% {
    -webkit-transform: translate3d(0, -200%, 0);
            transform: translate3d(0, -200%, 0);
  }
  62.5% {
    -webkit-transform: translate3d(0, -200%, 0);
            transform: translate3d(0, -200%, 0);
  }
  75% {
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
  }
  87.5% {
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@keyframes switch-review-content {
  30% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  35% {
    -webkit-transform: translate3d(0, -33%, 0);
            transform: translate3d(0, -33%, 0);
  }
  65% {
    -webkit-transform: translate3d(0, -33%, 0);
            transform: translate3d(0, -33%, 0);
  }
  70% {
    -webkit-transform: translate3d(0, -62%, 0);
            transform: translate3d(0, -62%, 0);
  }
  100% {
    -webkit-transform: translate3d(0, -62%, 0);
            transform: translate3d(0, -62%, 0);
  }
}

@keyframes switch-author {
  30% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  35% {
    -webkit-transform: translate3d(0, -33%, 0);
            transform: translate3d(0, -33%, 0);
  }
  65% {
    -webkit-transform: translate3d(0, -33%, 0);
            transform: translate3d(0, -33%, 0);
  }
  70% {
    -webkit-transform: translate3d(0, -67%, 0);
            transform: translate3d(0, -67%, 0);
  }
  100% {
    -webkit-transform: translate3d(0, -67%, 0);
            transform: translate3d(0, -67%, 0);
  }
}

.nav {
  -webkit-transition: all 500ms cubic-bezier(0.37, 0.54, 0.05, 1);
  transition: all 500ms cubic-bezier(0.37, 0.54, 0.05, 1);
  position: fixed;
  top: -100%;
  z-index: 4;
  background-color: #2a2a2a;
  min-width: 300px;
  height: 100%;
  width: 100%;
  padding: 1.5em;
  padding-top: 4em;
  font-size: 1.5rem;
  font-weight: bold;
  overflow-y: hidden;
}

.nav__link-list {
  list-style: none;
}

.nav__link-list__item {
  text-align: center;
  -webkit-transition: all 250ms ease-in;
  transition: all 250ms ease-in;
  -webkit-transition-delay: calc(var(--i)*0.1s);
          transition-delay: calc(var(--i)*0.1s);
  position: relative;
  padding: 0.5em 0;
  opacity: 0;
}

.nav__link-list__item a {
  position: relative;
  -webkit-transition: all 250ms ease-out;
  transition: all 250ms ease-out;
  color: #F3F7F0;
  text-decoration: none;
}

.nav__link-list__item a::after {
  -webkit-transition: all 250ms ease-out;
  transition: all 250ms ease-out;
  content: "";
  background-color: #F2545B;
  position: absolute;
  left: 50%;
  right: 50%;
  bottom: 0;
  width: 0;
  height: 3px;
  opacity: 0;
  z-index: -1;
}

.nav__link-list__item a:hover {
  color: #F2545B;
}

.nav__link-list__item a:hover::after {
  width: auto;
  left: 0;
  right: 0;
  opacity: 1;
}

.nav__social-medias {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2em 0;
}

.nav__social-medias a {
  text-decoration: none;
}

.nav__social-medias a img {
  min-width: 50px;
  max-width: 75px;
  width: 10vw;
  height: auto;
  padding: 0 0.25em;
}

* {
  font-family: "Heebo";
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 300px;
}

header {
  -webkit-transition: all 500ms ease-out;
  transition: all 500ms ease-out;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: black;
  z-index: 5;
}
/*# sourceMappingURL=main.css.map */